useDynLib(robts)
import(stats)
import(utils)
import(grDevices)
import(graphics)
importFrom("robustbase", "Qn", "covMcd", "lmrob", "ltsReg", "scaleTau2")
importFrom("rrcov", "CovSde", "CovSest")
importFrom("ICSNP", "tyler.shape")
importFrom("SpatialNP", "mvhuberM")
importFrom("sscor", "sscor")

export(
  acfrob,
  arrob,
  Corefw,
  filterrob,
  robspectrum,
  strucchange.HL,
  asymvar.acf,
  asymvar.acfextra,
  asymvar.window,
  rob.change,
  strucchange.wilcox,
  strucchange.cusum,
  densdiff,
  acfposmaker,
  acftrim,
  acfrank,
  ARfilter,
  acfrobfil,
  acfRA,
  acfpartrank,
  acfmedian,
  acfGK,
  acfmulti,
  pacf2,
  pKS,
  qKS,
  bestAR
)
