export("acfGK")
export("acfmedian")
export("acfmulti")
export("acfpartrank")
export("acfRA")
export("acfrank")
export("acfrobfil")

export("Corefw")
export("trimmedcor")

export("DurbinLev")
export("lmrobAR")
export("lmrobARopt")
export("robAIC")
export("robspec")
export("solveYule")
export("ts.robfilter")


import(ICSNP, SpatialNP, robustbase, rrcov)