export("acfGK")
export("acfmedian")
export("acfyohai")
export("Autokor")
export("gervini")
export("multi")
export("RAacf")
export("rankacf")
export("trimmedcor")

export("DurbinLev")
export("solveYule")


import(ICSNP, SpatialNP, robustbase, rrcov)